/* TSOS.css */

body {
  /* background: #909193 url(distrib/images/linen.png) repeat;
   */
  /*background: url(distrib/images/pattern.png) repeat;*/
  transition: 1s;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  height: 700px;
  width: 100%;
}

#divMain {
  transition: 1s;
  margin-left: auto;
  margin-right: auto;
  
}
  
#divConsole {
  text-align: right;
  padding: 10px;
}

#display {
  background-color:#eee;
  border: none;
  cursor: default;
  box-shadow: 0 0 0 10px rgba(255,255,255,0.7);
}

.panel-title {
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgba(255,255,255,0.7);
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

.panel-body {
  padding-top: 2px;
  padding: 10px;
  background-color: rgba(255,255,255,0.7);
}

.panel-body textarea, .panel-body table {
  background-color: #eee;
  //background-color: rgba(255,255,255,0.7);
  border: 2px;
  resize: none;
  font-family: monospace;
  font-size: 10pt;
}

.panel {
  background-color: rgba(0,0,0,0);
  /*background-color: rgba(0,0,0,0);*/
}
  
#divMemory {
  height: 300px;
  overflow: auto;
}

#divPCB {
  height: 100px;
  overflow: auto;
}

#tablePCB {
}

#tableMemory, #tablePCB, #tableCPU {
  width: 100%;
}

td {
  width: 20px;
  text-align: center;
  padding: 4px;
}

tr {
  border: 1px solid #aaa;
}

th {
  width: 20px;
  text-align: center;
  padding: 4px;
  font-weight: bold;  
  color: grey;
}

.bg-off {
  background-color: #aaa;
}

.bg-idle {
  background-color: #6f6;
}

.bg-error {
  background-color: #f66;
}

.bg-processing {
  background-color: #66f;
}

.os-hidden {
  opacity: 0;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}
      
input[disabled] {
  background-color: #ccc;
}

.btn-success, .btn-danger, .btn-info, .btn-warning {
  border: none;
}

#divStatusBar {
  margin-left: 4px;
}

#statusRow {
  margin-right: -10px;
  font-size: 18pt;
}

#statusTitle {
}
#statusButtons {
  font-size: 12pt;
  text-align: right;
}

#statusText {
  bottom: 0;
}

#statusDate {
  padding-top: 6pt;
  font-size: 12pt;
  text-align: right;
  bottom: 0;
}

#jumbotron {
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: rgba(200, 200, 200, 0.8);
}

#bgImage {
    background-image: url(distrib/images/pattern.png);
    background-repeat: repeat;
    opacity: 0.3;
    position: fixed;
    height: 700px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -5;
}


