/* TSOS.css */

body {
  /* background: #909193 url(distrib/images/linen.png) repeat;
   */
  transition: 1s;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

.bg-off {
  background-color: #aaa;
}

.bg-idle {
  background-color: #6f6;
}

.os-hidden {
  opacity: 0;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#eee;
  border: 2px solid black;
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}
    
#divStatusBar {
  margin-left: 4px;
}

.statusBox {
  border: 2px solid black;
  font-family: monospace;
  font-size: 10pt;
  height:12pt;
  background-color: #eee;
  padding: 2px;
}

#statusText {
  position: absolute;
  width: 340px;
}

#statusDate {
  border: 2px 2px 2px 0 solid black;
  padding-left: 4px;
  margin-left: 344px;
  width: 150px
}
